.SearchHeader {
    color: #fff;
    margin-top: 20px;
    height: 150px;
    background: rgb(0,36,14);
    background: linear-gradient(90deg, rgba(0,36,14,1) 13%, rgba(9,90,121,1) 100%); 
    display: flex;
}

.SearchHeader form{
    margin: auto;
}

.SearchHeader input {
    background: none;
    margin: 0 auto;
    border: 3px solid #fff;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    outline: none;
}

.Content {
    display: flex;
    justify-content: space-between;
  }
  
  .List {
    margin: 0 auto;
    position: block;
    /* margin-left: 4px; */
    display:flex;
    flex-wrap: wrap;
    /* height: 600px; */
    width: 80%;
  }
  
  
  .Content i {
    color: #ffa41b; 
    /* opacity: 0.2; */
    cursor: pointer;
    padding-top: auto;
    margin: auto;
  }
  
  
  .Content i:hover {
    opacity: 1;
    transition: 1s;
  }
  
  .Content i:not(:hover) {
    opacity: 0.4;
    transition: 1s;
  }