.MovieDescr {
    display: flex;
    justify-content: space-between;
}

.MovieDescr img {
    border-radius: 10px;
}

.Crew {
    display: flex;
    flex-direction: column;
}

.Crew span {
    padding-bottom: 10px;
}

.Cast {
    display: flex;
    flex-direction: column;
}