.MoviePage {
    position: relative;
    padding: 100px;
    color: #fff;
    width: 100%;
}

.Button {
    background: #33313b;
    font-size: 25px;
    padding: 4px;
    margin-left: 100px;
    border: solid #ffa41b;
    border-radius: 10px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.View { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn;
  } 
  @-webkit-keyframes fadeIn { 
      0% {opacity: 0;} 
      100% {opacity: 1;} 
  } 
  @keyframes fadeIn { 
      0% {opacity: 0;} 
      100% {opacity: 1;} 
  }
