.Layout {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.RandomMovie {
    width: 500px;
    height: 250px;
    display: flex;
    border: solid 3px #ffa41b;
    border-radius: 10px;
    margin:  0 auto;
    margin-top: 20px;
    color: #fff;
    background: #33313b;
}

.RandomMovieContent h3 {
    text-align: center;
}

.RandomMovieContent {
    display: flex;
    flex-direction: column;
}

.RandomMovie img {
    margin: 10px;
    width: 170px;
    border: solid 1px black;
    border-radius: 20px;
}

.Layout button {
    background: #33313b;
    font-size: 25px;
    margin: auto;
    margin-top: 20px;
    border: solid #ffa41b;
    border-radius: 15px;
    color: #fff;
    outline: none;
    cursor: pointer;

}






