.Layout {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.RandomMovie {
    width: 500px;
    height: 250px;
    display: flex;
    border: solid 2px #fff;
    border-radius: 10px;
    margin:  0 auto;
    margin-top: 20px;
    color: #fff;
    /* background: rgb(196,184,190);
    background: linear-gradient(90deg, rgba(196,184,190,1) 0%, rgba(200,189,188,1) 100%);
    background: #fff; */
}

.RandomMovieContent h3 {
    text-align: center;
}

.RandomMovieContent {
    display: flex;
    flex-direction: column;
}

.RandomMovie img {
    margin: 10px;
    width: 170px;
    border: solid 1px black;
    border-radius: 20px;
}

.Layout button {
    background: #000;
    font-size: 25px;
    margin: auto;
    margin-top: 20px;
    border: solid #fff;
    border-radius: 15px;
    color: #fff;
    outline: none;
    cursor: pointer;

}






