.MovieList {
    /* margin: 0 auto; */
    /* padding: auto; */
    /* margin-left: 4px; */
    display:flex;
    flex-wrap: wrap;
    /* height: 600px; */
    /* width: 100%; */
  }

  .MovieList h1 {
    color: #fff;
 
  }