.MovieByGenreBlock {
    color: #fff;
    margin-top: 20px;
}

.GenresList {
  /* height: 150px; */
  background: #3c4f65;
  border: 3px solid #ffa41b;

}

.activeGenre {
  font-size: 100px;
}

.GenresList h2{
  text-align: center;
}

.Genres {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Genres button:hover{
  font-size:35px;
  transition: 0.5s;
  outline:none;

}

.Genres button:not(:hover){
  font-size:31px;
  transition: 0.5s;
  outline:none;
}

.Content {
  display: flex;
  justify-content: space-between;
}

.List {
  padding: auto;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  height: 1500px;
  width: 80%;
}

.Content i {
  color: #ffa41b; 
  /* opacity: 0.2; */
  cursor: pointer;
  padding-top: auto;
  margin: auto;
}


.Content i:hover {
  opacity: 1;
  transition: 1s;
}

.Content i:not(:hover) {
  opacity: 0.4;
  transition: 1s;
}

