.GenresName{
    display: flex;
    flex-wrap: wrap;
    background: none;
    border: none;
    color: #fff;
    font-size: 31px;
    margin: 10px;
    outline:none;
    cursor: pointer;
  }
  
  .GenresNameActive{
    display: flex;
    flex-wrap: wrap;
    background: none;
    color: #ffa41b;
    margin: 10px;
    border: none;
    outline:none;
  }